$bg-service: #ECD9D9;


.service{

    h2{
        
         margin-bottom: 3px;
    }

    

    margin: 56px 0 111px;

    .services-container{
        width: 100%;


    }
    .service-items-text{
        width: 100%;
        height: 450px;
        background-color: #F5F5F5;

        &:nth-of-type(even){
            background-color: $bg-service;
        }
     p{
        height: 132px;
        width: 368px;
        font-size: 36px;
        line-height: 44px;
        
     }
        a{
        
            border: 1px solid #1E1E1E;
           
        }
    }
    .service-items-img{
        
        width: 100%;
        height: auto;
    }
    
}

@media(min-width:320px){
    .service{
        h2{
            text-align: center;
        }
    }
}

@media(min-width:992px){
  .service{

    h2{
        text-align: left;
        
    }
   
    .service-items-text{
        width: 50%;
    }

    .service-items-img{
        width: 50%;
    }
  }
}
